body {
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: #DCB958 black;   /* scroll thumb and track */ 
  }
  /* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #DCB958 black;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #DCB958 black;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #DCB958;
    border-radius: 20px;
    border: 3px solid black;
  }